@page "/"
@model SpeechRecg.Web.Pages.LoginModel

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="~/" />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="WebImages/Logo.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/segoe-ui/Segoe UI.ttf">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
</head>
<body >
    <div class="limiter">
    </div>
</body>
</html>
