@layout ContentLayout
@page "/StatusPage/{text}/{status:bool}"
@inject NavigationManager nav

<h3 class="content_title">@Text</h3>
<div style="background-color: white;text-align: center;">
    @if (!status)
    {
        <img class="massageaftersub" src="WebImages/box_red_message.png" />
        <p><h4 class="massagetitle">Unfortunatly , there appears to be error </h4></p>
        <button class="skipbtn skipbtn1" @onclick="PopUp"
                style="display: unset;width:40%">Try Again</button>
    }
    else
    {
        <img class="massageaftersub" src="WebImages/box_blue_message.png" />
        <p> <h4 class="massagetitle">Great, you have successfully!</h4></p>
        <div>
            <button class="skipbtn skipbtn2" @onclick="PopUp"
                style="display: unset;width:40%">Try Again</button>
        </div>
    }
</div>
@code {
    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public bool status { get; set; }

    public void PopUp()
    {
        nav.NavigateTo($"/{Text.Replace(" To ", "2")}");
    }
}
